body {
  font-family: courier;
  background-color: #ffffe0;
}

input {
  background: none;
  font-family: courier;
  font-size: 1.1em;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
}

table, th, td {
  border: 1px solid black;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px/1.4 Georgia, Serif;
}

#page-wrap {
  margin: 50px;
}

p {
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(odd) {
background: #eee;
}

th {
background: #333;
color: white;
font-weight: bold;
cursor: s-resize;
background-repeat: no-repeat;
     background-position: 3% center;
}

td, th {
padding: 6px;
border: 1px solid #ccc;
text-align: left;
}

th.des:after {
  content: "\21E9";
}
  
th.aes:after {
  content: "\21E7";
}