<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Twitter US Airline Sentiment</title>
	<link href="/static/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>

  </head>
  <body>
    <div id="page-wrap">
      <a href="/">Return to HomePage</a>
    <div class=heading><h1>
      Twitter US Airline Sentiment (using D3.js)
    </h1>
  </div>

    <p>Click the table header to sort data according to that column</p>

    <script src="/static/js/table.js"></script>

    </div>

  </body>
</html>

