<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Basic</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	
  </head>
  <body>
  <div id="page-wrap">
  <a href="/">Return to HomePage</a>
    <div class=heading><h1>
      Twitter US Airline Sentiment
    </h1>
  </div>
    <table> 
	  <thead>
		<tr>
			<th>ID</th>
			<th>Airline Sentiment</th>
			<th>Airline Sentiment Confidence</th>
			<th>Airline</th>
			<th>Tweet Text</th>
		</tr>
      </thead>
	
      <tbody> 
        {% for tweet in tweetData%} 
        <tr> 
          <td>{{ tweet.id }}</td> 
          <td>{{ tweet.airline_sentiment }}</td> 
          <td>{{ tweet.airline_sentiment_confidence }}</td> 
          <td>{{ tweet.airline }}</td> 
		  <td>{{ tweet.text }}</td>  
        </tr> 
        {% endfor %} 
      </tbody> 
    </table> 
  </div> 
  </body>

</html>