<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Twitter US Airline Sentiment</title>
	  <link href="/static/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>

  </head>
  <body>
    <a href="/">Return to HomePage</a>
    <h1>
      Twitter US Airline Sentiment (Creative Display of Data)
    </h1>

    <p>Airline Sentiment Review</p>
<div id="chart"></div>
    <div id="legend">
      <ul>
        <li style="background-color: red; width: 100px; height: 20px;">Negative</li>
        <li style="background-color: gray; width: 100px; height: 20px;">Neutral</li>
        <li style="background-color: green; width: 100px; height: 20px;">Positive</li>
      </ul>
    </div>
    <script src="/static/js/creative.js"></script> 

  </div>
    </div>

  </body>
</html>

