<!DOCTYPE html>
<html>
<head>
    <title>My Flask App</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
    <h1>Welcome to My Flask App!</h1>
    <p>Please select an option below to view the data</p>

    <div>
        <a href="/basic">Basic Display</a>
    </div>
    <div>
        <a href="/advanced">Advanced Display</a>
    </div>
    <div>
        <a href="/creative">Creative Display</a>
</body>
</html>