<!DOCTYPE html>
<html>
<head>
    <title>My Flask App</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
    <div class="heading">
        <h1>Python Flask Application</h1>
    </div>
    <div class="subheading">
        <p>Please select an option below to view the Twitter Airline Sentiment data, displayed in the required various formats.</p>
    </div>
        <div class="container">      
        <div>
            <a href="/basic">Basic Display</a>
        </div>
        <div>
            <a href="/advanced">Advanced Display</a>
        </div>
        <div>
            <a href="/creative">Creative Display</a>
        </div>
    </div>
    <div class="subheading">
        <p>Please click the following link for my Websocket Demo - </p>
        <div>
            <a href="/websocket">Websocket</a>
    </div>
    </div>
    <div class="subheading">
        <p>Please click the following link for my answers to Task 2 - </p>
        <div>
            <a href="/report">Report</a>
    </div>
</body>
<footer>
    <p>Created by: Dan Turner 23042493</p>
</footer>
</html>