<!DOCTYPE html>
<html>
<head>
    <title>My Flask App</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
    <div class="heading">
        <h1>Welcome to My Python Flask App!</h1>
    </div>
    <div class="subheading">
        <p>Please select an option below to view the Twitter data in various formats</p>
    </div>
        <div class="container">      
        <div>
            <a href="/basic">Basic Display</a>
        </div>
        <div>
            <a href="/advanced">Advanced Display</a>
        </div>
        <div>
            <a href="/creative">Creative Display</a>
        </div>
    </div>
</body>
<footer>
    <p>Created by: Dan Turner 23042493</p>
</html>