<!DOCTYPE html>
<html>
<head>
    <title>My Flask App</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
    <a href="/">Return to HomePage</a>
    <div class="heading">
        <h1>CSC40088 Fundamentals of Computer Science: Task 2</h1>
    </div>
    <!-- <div class="subheading">
        <p>Report</p>
    </div> -->
    <div class="question">
        <h2>Question 2.1: What extra features have you added in Task 1.1, and why?</h2>
        <p>Answer</p>
    </div>
    <div class="question">
        <h2>Question 2.2: What are the security issues of Web Socket, and what can be done to secure Web Socket? You need to relate this to the security features you have implemented in Task 1.2.</h2>
        <p>Answer</p>
    </div>
    <div class="question">
        <h2>Question 2.3: What are the things you found particularly challenging in completing Task 1, and how can you improve your approach to these tasks?</h2>
        <p>Answer</p>
</body>
<footer>
    <p>Created by: Dan Turner 23042493</p>
</footer>
</html>