<!DOCTYPE html>
<html>
<head>
    <title>Report</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
    <a href="/">Return to HomePage</a>
    <div class="heading">
        <h1>CSC40088 Fundamentals of Computer Science: Task 2</h1>
    </div>
    <div class="subheading">
        <h2>Questions & Answers</h2>
    </div>
    <div class="question">
        <h2>Question 2.1: What extra features have you added in Task 1.1, and why?</h2>
        <p>I have added an additional pie chart to number of times an Airline had a review. I have done this to show the distribution of reviews across the different airlines. This is useful as it can show which airlines have the most reviews and which have the least. This can be useful for a user to see which airlines are the most popular and which are the least popular.</p>
    </div>
    <div class="question">
        <h2>Question 2.2: What are the security issues of Web Socket, and what can be done to secure Web Socket? You need to relate this to the security features you have implemented in Task 1.2.</h2>
        <p>The security issues with websockets are</p>
        <ul>
            <li>Insecure connections, to ehance this you can use WebSocket Secure (WSS): This is the WebSocket equivalent of HTTPS, and it encrypts data sent over the connection.</li>
            <li>No Authentication, to fix this you can implement Authentication and Authorisation: You can use token-based systems like JWT (JSON Web Tokens) or session-based systems to authenticate users. For authorisation, you can check the user's permissions before allowing them to perform certain actions.</li>
        </ul>
             </p>
    </div>
    <div class="question">
        <h2>Question 2.3: What are the things you found particularly challenging in completing Task 1, and how can you improve your approach to these tasks?</h2>
        <p>I found the production of the charts to be quite challenging when creating the code as with the data provided i was limited on what visualisations i could use to display it. </p>
</body>
<footer>
    <p>Created by: Dan Turner 23042493</p>
</footer>
</html>