<!DOCTYPE html>
<html>
<head>
    <title>My Flask App</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
    <a href="/">Return to HomePage</a>
    <div class="heading">
        <h1>CSC40088 Fundamentals of Computer Science: Task 2</h1>
    </div>
    <div id="chat"></div>
    <input type="text" id="chat-input"> <button onclick="sendMessage()">Send</button><script>
        function sendMessage () {
            console.log(document.getElementById("chat-input").value)
        }
       </script>

</body>
<footer>
    <p>Created by: Dan Turner 23042493</p>
</footer>
</html>